@using Microsoft.AspNet.Identity



<header>
    <!-- Header Start -->
    <div class="header-bottom  header-sticky">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                    <div class="logo">
                        <a href=@Url.Action("Index", "Home")><img src="~/Content/img/logo/Novi-Logo.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Categories", "Collection", "Arts")</li>
                                @if (User.IsInRole("Student"))
                                {
                                    <li>@Html.ActionLink("ShoppingCart", "Index", "ShoppingCart")</li>
                                }

                                <li>@Html.ActionLink("My Account", "Index", "Manage")</li>
                                <li>@Html.Partial("_LoginPartial")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                    <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between  ">
                        @*<li>
                                <div class="shopping-card">
                                <a href=@Url.Action("Index", "ShoppingCart")><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </li>*@
                    </ul>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
