@model NoviKunstUitleen.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>CryptoWallet:</dt>
        <dd>
            <div class="form-group">
               
                @Html.ActionLink("Go To Crypto", "index", "CryptoPayment", new { UserName = User.Identity.Name, @class = "btn btn-success" }, null)
            </div>
        </dd>
    </dl>
</div>
