@model NoviKunstUitleen.ViewModel.NewArtsFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("SaveEditedArt", "Arts"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Art.Name)
                @Html.TextBoxFor(m => m.Art.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Art.Image, new { type="hidden", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Art.Price)
                @Html.TextBoxFor(m => m.Art.Price, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Art.NumbersInStock)
                @Html.TextBoxFor(m => m.Art.NumbersInStock, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Art.DateAdded, new {type="hidden", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Art.Creator, new {type="hidden", @class = "form-control" })
            </div>
            @Html.HiddenFor(m => m.Art.ArtsId)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
    <br />
    <div class="container">
        @using (Html.BeginForm("DeleteArt", "Arts"))
        {
        @Html.HiddenFor(m => m.Art.ArtsId)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Delete</button>
        }

    </div>
